.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.Nav-logo {
  font-size: 2rem;
  font-weight: bold;
}

.Nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.Nav-links li {
  list-style: none;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.Nav-links li a {
  color: #333;
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.Nav-links.show {
  height: 400px;
}

.Nav-toggle {
  position: relative;
  margin-right: 20px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.Nav-toggle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

.Nav-toggle span:nth-of-type(1) {
  transform: translateY(8px);
}

.Nav-toggle span:nth-of-type(2) {
  transform: translateY(16px);
}

.Nav-toggle.open span:nth-of-type(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.Nav-toggle.open span:nth-of-type(2) {
  transform: rotate(-45deg) translate(5px, -5px);
}
